{% extends "base.html" %}
{% load static %}
{% block content %}
  <div style="float: left;">
    <form name="recipie-text-form" id="recipie-text">
       {{ csrf_token }}
      <textarea rows="10" style="width:500px" id="recipie-textarea"></textarea>
      <br />
      <input type="submit" id="recipie-text-submit">

    </form>
  </div>
  <div id="missed-ingredients" style="border:1px solid red; display: none;"></div>
  <table style="float: left; border: 1px solid green" id="nutrition-chart">

  </table>

{% endblock content %}
